<h2>Medias:</h2>
<ul>
  <% @medias.sort.each do |media|  %>
    <li>
      <%= link_to media.title, media_path(media.id), class:"link" %>
      <%= media[:category] %>
      <%= media[:creator] %>
      <%= media[:publication_year] %> 
      <%= link_to "<button>Edit</button>".html_safe, edit_media_path(media) %>
      <%= link_to "<button>Delete</button>".html_safe, media_path(media), method: :delete, data: {confirm: "Are you sure you want to delete this media entry?"}%>
    </li>
  <% end %>
</ul>

 
