<%= link_to "Edit media", edit_media_path(@media), class:"link" %>
<br> 
<%= link_to "Delete media", media_path(@media), class:"link", method: :delete, data: {confirm: "Please confirm!"} %>
<br> 
<%= link_to "See All medias", medias_path, class:"link" %>
<br> 
<p><%= link_to "Return to Media List", medias_path %></p>

<h1><%= @media[:title] %></h1>
<h3>Created by: <%= @media[:creator] %></h3>
<h3>Published: <%= @media[:publication_year] %></h3>
<h3>Description: <%= @media[:description] %></h3>

<%# <%= link_to "<button>Back to media ranks</button>".html_safe, media_task_path(media) %>
<%# <%= link_to "<button>Edit</button>".html_safe, media_status_path(media) %>
<%# <%= link_to "<button>Upvote</button>".html_safe, media_status_path(media) %>
<%# <%= link_to "<button>Edit</button>".html_safe, media_path(media), method: :delete, data: {confirm: "Are you sure you want to delete this media entry?"}%>  %>

