<%= link_to "Edit media", edit_work_path(@work), class:"link" %>
<br><br>
<%= link_to "Delete media", work_path(@work), class:"link", method: :delete, data: {confirm: "Please confirm!"} %>
<br><br>
<%= link_to "See All medias", works_path, class:"link" %>
<br><br>
<p><%= link_to "Return to Media List", works_path %></p>

<h1><%= @work[:title] %></h1>
<h3>Created by: <%= @work[:creator] %></h3>
<h3>Published: <%= @work[:publication_year] %></h3>
<h3>Description: <%= @work[:description] %></h3>

<%# <%= link_to "<button>Back to work ranks</button>".html_safe, work_task_path(@work) %>
<%# <%= link_to "<button>Edit</button>".html_safe, work_status_path(@work) %>
<%# <%= link_to "<button>Upvote</button>".html_safe, work_status_path(@work) %>
<%# <%= link_to "<button>Edit</button>".html_safe, work_path(@work), method: :delete, data: {confirm: "Are you sure you want to delete this media entry?"}%>
