<%= link_to "Back to All Medias", works_path, class:"link" %>
<br><br>
<p><%= link_to "Return to All Users List", users_path %></p>

<h1><%= @user[:title] %></h1>
<h3>Media Title: <%= @user[:title] %></h3>
<h3>Created by: <%= @user[:creator] %></h3>
<h3>Published: <%= @user[:publication_year] %></h3>
<h3>Category: <%= @user[:category] %></h3>
<h3>Voted On: <%= @user[:category] %></h3>

