<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

    <body>
    <header>
      <h1>Welcome to Media Ranker</h1>
    </header>
    <div>
      <ul>
        <li>
          <%= link_to "New Media", new_work_path %>
        </li>
        <li>
          <%= link_to "All Media", works_path %>
        </li>
    </div>
    <%= yield %>
  </body>
</html>





